.easycal table{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0px;
}

.easycal .table-cell{
	height: 25px;
	padding-top: 15px;
	max-height: 45px;
	border-left: 1px solid #CCC;
	border-top: 1px solid #CCC;
}

.easycal table tr td:FIRST-CHILD .table-cell{
	border-left: 0;
}

.easycal table tr td .table-cell:FIRST-CHILD{
	border-top: 0;
}